@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideup {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacitystart {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitystart {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitystartlogo {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitystartlogo {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
    
  }
}

bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;


}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #9356DC, #FF79DA);
  margin: 10px;
  animation: wave 4s linear;
  border-radius: 20px;
}
.wave span::after {
  opacity: 0;
  scale: 0;
}
.wave:nth-child(1) {
  opacity: 0;
  scale: 0;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0;
  scale: 0;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0;
  scale: 0;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0;
  scale: 0;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
  opacity: 0;
  scale: 0;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
  opacity: 0;
  scale: 0;
  
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
  opacity: 0;
  scale: 0;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
  opacity: 0;
  scale: 0;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
  opacity: 0;
  scale: 0;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
  opacity: 0;
    scale: 0;
}

/*#################################*\
####          Media querys       ####
####                     #### 
\*#################################*/
@media all and (min-width: 375px) {
  .loader {
    position: absolute;
    left: 30%;
  }
}

@media all and (min-width: 768px) {
  .loader {
    position: absolute;
    left: 38%;
  }
}

@media all and (min-width: 1024px) {
  .loader {
    position: absolute;
    left: 42%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  height: 65px;
}

.header__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 20%;
}

.header__restaurant .logo {
  padding: 2px 0 0 8%;
  -webkit-animation: none;
  animation: none;
}

.header__restaurant .arrow {
  padding: 18px 25px 0 0;
}

.header__restaurant .arrow .fas {
  font-size: 200%;
}

.logo {
  text-align: center;
  font-size: 3rem;
  padding-top: 5px;
  -webkit-animation: opacitystartlogo 6s ease-in-out;
  animation: opacitystartlogo 6s ease-in-out;
}

footer {
  color: white;
  background-color: black;
  height: 200px;
  padding: 30px 0 20px 0;
  line-height: 30px;
  -webkit-animation: opacitystart 6s;
  animation: opacitystart 6s;
}

@media (min-width: 768px) {
  footer {
    padding: 30px 0 20px 40px;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 30px 0 20px 60px;
  }
}

@media (min-width: 1440px) {
  footer {
    padding: 30px 0 20px 120px;
  }
}

@media (min-width: 1440px) {
  footer {
    padding: 30px 0 20px 220px;
  }
}
footer img {
  width: 120px;
  padding-left: 40px;
}

footer li {
  list-style-type: none;
}

footer li i {
  padding-right: 10px;
}

footer li a {
  text-decoration: none;
  color: white;
}

.restaurant__img {
  width: 100%;
  height: 255px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 768px) {
  .restaurant__img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .restaurant__img {
    width: 100%;
    height: 550px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.place {
  Font-family: 'Shrikhand';
  height: 1200px;
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  position: relative;
  bottom: 45px;
  margin-bottom: -45px;
  border-radius: 40px 40px 0 0;
}

@media (min-width: 1440px) {
  .place {
    height: 1300px;
  }
}

.place .place__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 5%;
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .place .place__name {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.place .place__name .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .place .place__name .icon {
    margin-left: 40px;
  }
}

@media (min-width: 1440px) {
  .place .place__name .icon {
    margin-left: 50px;
  }
}

.place .menu {
  Font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px;
}

.place .menu .menu__part {
  font-weight: 600;
  margin-left: 5%;
  text-align: left;
  -webkit-animation: opacitystart 2500ms;
  animation: opacitystart 2500ms;
}

@media (min-width: 768px) {
  .place .menu .menu__part {
    margin-left: 15%;
  }
}

@media (min-width: 1024px) {
  .place .menu .menu__part {
    margin-left: 25%;
  }
}

@media (min-width: 1440px) {
  .place .menu .menu__part {
    margin-left: 30%;
  }
}


.place .menu .menu__part::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-top: 3px;
}

.place .menu .menu__items {
  margin-bottom: 25px;
}

.place .menu .menu__part__dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  width: 345px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 15px #a5a5a5;
  box-shadow: 1px 1px 15px #a5a5a5;
  margin: auto;
  margin-top: 15px;
  -webkit-animation: slideup ease-in-out 1500ms 100ms;
  animation: slideup ease-in-out 1500ms 100ms;
}

@media (min-width: 768px) {
  .place .menu .menu__part__dishes {
    width: 500px;
  }
}

.place .menu .menu__part__dishes.delay-1 {
  -webkit-animation: slideup ease-in-out 1500ms 300ms;
  animation: slideup ease-in-out 1500ms 300ms;
}

.place .menu .menu__part__dishes.delay-2 {
  -webkit-animation: slideup ease-in-out 1500ms 500ms;
  animation: slideup ease-in-out 1500ms 500ms;
}

.place .menu .menu__part__dishes.delay-3 {
  -webkit-animation: slideup ease-in-out 1500ms 700ms;
  animation: slideup ease-in-out 1500ms 700ms;
}

.place .menu .menu__part__dishes.delay-4 {
  -webkit-animation: slideup ease-in-out 1500ms 900ms;
  animation: slideup ease-in-out 1500ms 900ms;
}

.place .menu .menu__part__dishes.delay-5 {
  -webkit-animation: slideup ease-in-out 1500ms 1100ms;
  animation: slideup ease-in-out 1500ms 1100ms;
}

.place .menu .menu__part__dishes.delay-6 {
  -webkit-animation: slideup ease-in-out 1500ms 1300ms;
  animation: slideup ease-in-out 1500ms 1300ms;
}

.place .menu .menu__part__dishes.delay-7 {
  -webkit-animation: slideup ease-in-out 1500ms 1500ms;
  animation: slideup ease-in-out 1500ms 1500ms;
}

.place .menu .menu__part__dishes.delay-8 {
  -webkit-animation: slideup ease-in-out 1500ms 1700ms;
  animation: slideup ease-in-out 1500ms 1700ms;
}

.place .menu .menu__part__dishes:hover .menu__part__title h3 {
  text-overflow: ellipsis;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .place .menu .menu__part__dishes:hover .menu__part__title h3 {
    width: 300px;
  }
}

.place .menu .menu__part__dishes:hover .menu__part__title p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

@media (min-width: 768px) {
  .place .menu .menu__part__dishes:hover .menu__part__title p {
    width: 300px;
  }
}

.place .menu .menu__part__dishes:hover .menu__part__price {
  -webkit-transform: translateX(-60px);
  transform: translateX(-60px);
}

.place .menu .menu__part__dishes:hover .menu__part__check {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}

.place .menu .menu__part__dishes:hover .fa-check-circle:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.place .menu .menu__part__title {
  line-height: 15px;
  text-align: left;
  width: 80%;
  margin: 5px 0 0 15px;
}

.place .menu .menu__part__title h3 {
  margin: 8px 0 5px 0;
  line-height: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.place .menu .menu__part__title p {
  line-height: 1.3rem;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.place .menu .menu__part__price {
  margin: 35px -55px 0 0;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

@media (min-width: 768px) {
  .place .menu .menu__part__price {
    margin: 35px -100px 0 0;
  }
}

.place .menu .menu__part__check {
  height: 70px;
  width: 70px;
  border-radius: 0 20px 20px 0;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  opacity: 0;
}

.place .menu .fa-check-circle {
  color: white;
  font-size: 2rem;
  margin-left: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #99E2D0;
  height: 70px;
  width: 70px;
  border-radius: 0 20px 20px 0;
}

#recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
  -webkit-box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px;
  -webkit-animation: opacitystart 4s;
  animation: opacitystart 4s;
}

#recherche .recherche_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 350px;
}

#recherche .recherche__position {
  padding-right: 20px;
  padding-top: 15px;
}

#recherche .recherche__lieu {
  border: none;
  width: 50%;
  background-color: #eaeaea;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

input::-webkit-input-placeholder {
  color: black;
  text-align: center;
}

input:-ms-input-placeholder {
  color: black;
  text-align: center;
}

input::-ms-input-placeholder {
  color: black;
  text-align: center;
}

input::placeholder {
  color: black;
  text-align: center;
}

.explore {
  height: 285px;
  -webkit-animation: opacitystart 4s;
  animation: opacitystart 4s;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 10px;
}

.explore h2 {
  font-size: 1.4em;
  padding: 0 60px;
}

.explore p {
  font-size: 1.4em;
}

/*#################################*\
#                                   #
#  Section Fonctionnement           #
#                                   #
\##################################*/
.function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 440px;
  text-align: left;
  margin-left: 10px;
  -webkit-animation: opacitystart 4s;
  animation: opacitystart 4s;
}
@media (min-width: 768px) {
  .function h1 {
    margin-left: 50px;
  }
}

@media (min-width: 1024px) {
  .function h1 {
    margin-left: 150px;
  }
}

@media (min-width: 1440px) {
  .function h1 {
    margin-left: 250px;
  }
}

@media (min-width: 2560px) {
  .function h1 {
    margin-left: 350px;
  }
}

.function .function__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 75px;
  width: 325px;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 15px #a5a5a5;
  box-shadow: 1px 1px 15px #a5a5a5;
  line-height: 75px;
}

.function .function__card:hover {
  background-color: #ffc6ef;
  cursor: pointer;
}

.function .function__card:hover .function__card__icon {
  color: #9356DC;
}

.function .function__card .function__card__icon {
  margin-right: 20px;
  font-size: 1.5rem;
}

.function .function__card .function__card__number {
  background-color: #9356DC;
  color: white;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
  margin-top: 25px;
  position: absolute;
  margin-right: 330px;
}

.function .function__card .function__card__text {
  margin-right: 40px;
  font-weight: bold;
}

/*#################################*\
#                                   #
#  Section Choix du restaurant      #
#                                   #
\##################################*/
.restaurant {
  height: 1225px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: opacitystart 4s;
  animation: opacitystart 4s;
}

@media (min-width: 768px) {
  .restaurant {
    height: 800px;
  }
}

@media (min-width: 768px) {
  .restaurant .restaurant__choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1024px;
  }
}


.restaurant .restaurant__card {
  background-color: white;
  height: 250px;
  width: 335px;
  margin: 10px 20px 10px 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 15px #a5a5a5;
  box-shadow: 1px 1px 15px #a5a5a5;
  text-align: left;
}

@media (min-width: 768px) {
  .restaurant .restaurant__card {
    margin: 30px 20px 30px 20px;
  }
}

.restaurant .restaurant__card img {
  height: 175px;
  width: 335px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.restaurant .restaurant__card .restaurant__card-new {
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  line-height: 30px;
  position: absolute;
  margin: 10px 0 0 235px;
  text-align: center;
}

.restaurant .restaurant__card .restaurant__card__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.restaurant .restaurant__card .restaurant__card__name {
  width: 75%;
  margin-left: 10px;
  margin-top: 10px;
  line-height: 25px;
  font-size: 1.2rem;
}

.restaurant .restaurant__card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fa-heart:hover {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.8s linear;
  font-weight: 900;
}

.fa-heart {
  font-size: 26px;
  margin: 16px 30px 0 0;
}
main .restaurant_name .fa-heart {
  font-size: 26px;
  padding: 0 34px 0 0;
  
}


.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: 'Roboto';
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 220px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 15px #a5a5a5;
  box-shadow: 1px 1px 15px #a5a5a5;
  border: none;
  line-height: 50px;
  cursor: pointer;
  margin: auto;
}

.btn.btn-explore {
  margin-top: 40px;
  font-size: 1rem;
}

.btn a {
  color: white;
}

.btn:hover {
  opacity: 0.6;
  -webkit-box-shadow: 1px 1px 20px #FF79DA;
  box-shadow: 1px 1px 20px #FF79DA;
}

.btn-command {
  margin-top: 25px;
  -webkit-animation: opacitystart 3s;
  animation: opacitystart 3s;
}

@media (min-width: 768px) {
  .btn-command {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .btn-command {
    margin-top: 10px;
  }
}

@media (min-width: 1440px) {
  .btn-command {
    margin-top: 40px;
  }
}

@media (min-width: 2560px) {
  .btn-command {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */